<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <h1>What game should I play?</h1>
        <% if(items !== null) { %>
        <section>
            <select name="gameList" id="">
                <option value="placeHolder">Select a game to view.</option>
                <% for(let i = 0; i < items.length; i++) {%>
                    <option value="<%= items[i]._id %>"><%= items[i].gameName %></option>
                <% } %>
                <button>View Game</button>
                <button>Delete Game</button>
            </select>
        </section>
        <% } %>

        <section>
            <form action="/addGame" method="POST">
                <input type="text" placeholder="New Game" name = "gameName" class="textInput">
                <input type="submit">
            </form>
        </section>
    </main>

</body>
</html>