<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    
    <title>What game should I play?</title>
</head>
<body>
    <% if(user){ %>
        <div class="flexContainer column">
            <nav class="flexContainer logOutPrompt">
                <p>Logged in as <%= user.userName %></p>
                <a href="/logout">Log out</a>
            </nav>
        </div>
    <% } %>
    <section class="flexContainer mainSection">
        <h1>Game Backlog Tracker</h1>
        <p>An app by <span class="credits"><a href="https://jeremyhelsel.com/">Jeremy Helsel</a></span> for tracking the games you've been meaning to play and helping you work your way through them.</p>
        <div class="flexContainer">
            <% if(!user){ %>
                <a href="/login"><span>Login</span></a>
                <a href="/signup"><span>Signup</span></a>
            <% }else{ %>
                <a href="/home">Take me to my list!</a>
            <% } %>
        </div>
    </section>
</body>
</html>