<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    
    <title>What game should I play?</title>
</head>
<body class="blue-grey darken-3">
    <% if(user){ %>
        <div class="right-align">
            <nav class="blue-grey darken-3">
                <span>Logged in as <%= user.userName %></span>
                <a href="/logout" class="btn blue-grey darken-1 waves-effect">Log out</a>
            </nav>
        </div>
    <% } %>
    <div style="height: 200px;"></div>
    <section class="container blue-grey darken-3">
        <h1 class="center white-text">Game Backlog Tracker</h1>
        <p class="center white-text">An app by <span class="blue-text lighten-4"><a href="https://jeremyhelsel.com/">Jeremy Helsel</a></span> for tracking the games you've been meaning to play and helping you work your way through them.</p>
        <div class="container center">
            <% if(!user){ %>
                <a href="/login" class="btn-large blue-grey darken-1 center waves-effect"><span>Login</span></a>
                <a href="/signup" class="btn-large blue-grey darken-1 center waves-effect"><span>Signup</span></a>
            <% }else{ %>
                <a href="/home" class="btn-large blue-grey darken-1 center waves-effect">Take me to my list!</a>
            <% } %>
        </div>
    </section>

    <script src="/js/materialize.min.js"></script>
</body>
</html>