<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    
    <title>Game Backlog: Login</title>
</head>
<body class="blue-grey darken-3 container">

    <div style="height: 90px;"></div>
    <% if (locals.messages.errors) { %>
        <% messages.errors.forEach( el => { %>
            <div class="alert alert-danger red-text"><%= el.msg %></div>
        <% }) %>    
    <% } %>
    <% if (locals.messages.info) { %>
        <% messages.info.forEach( el => { %>
            <div class="alert alert-danger red-text"><%= el.msg %></div>
        <% }) %>    
    <% } %>

    <form action="/login" method="post">
        <div class="container">
            <div>
                <label for="email" class="left-align">Email:</label>
                <input type="text" name="email" id="email" class="white-text">
            </div>
            <div>
                <label for="password" class="left-align">Password:</label>
                <input type="password" name="password" id="password" class="white-text">
            </div>
        
            <div style="height: 30px;"></div>

            <div class="container center">
                <button class="btn-large blue-grey darken-1 center waves-effect" type="submit" name="action">Login
                    <i class="material-icons right">send</i>
                </button>

                <div style="height: 40px;"></div>

                <div class="otherpages">
                    <a href="/signup" class="btn-large blue-grey darken-1 center-align waves-effect">Sign Up</a>
                    <a href="/" class="btn-large blue-grey darken-1 center waves-effect">Back</a>
                </div>
            </div>
        </div>
    </form>

    <script src="/js/materialize.min.js"></script>
</body>
</html>