<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/authpage.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

    <title>Game Backlog: Signup</title>
</head>
<body>
    <form action="/signup" method="post">
        <div>
            <label for="userName">Username:</label>
            <input type="text" name="username" id="username">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password">
        </div>
        <div>
            <label for="password2">Re-Enter Password:</label>
            <input type="password" name="password2" id="password2">
        </div>
        <input type="submit" class="submit">
        <Div class="otherpages">
            <a href="/login">Log In</a>
            <a href="/">Back</a>
        </Div>
    </form>
</body>
</html>