body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

form > div{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.otherpages{
    justify-content: center;
    margin-top: 16px;
}

.otherpages > a{
    margin: 15px;
}

.submit{
    width: 50%;
    align-self: center;
    margin-top: 15px;
}

.errorText, .alert-danger{
    margin-top: 5px;
    color: red;
}

label{
    margin-right: 5px;
}