body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    height: 16px;
    margin-left: 20px;
}

p{
    margin-top: 30px;
    font-size: 20px;
    align-self: center;
}

select{
    background-color: rgb(47, 51, 55);
    color: white;
    transition: all .25s;
    height: 30px;
}

select:hover{
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameList{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.gameList > *{
    margin: 8px 4px;
}

.randomButton{
    font-size: 36px;
    height: 40px;
}

.centerButton{
    align-self: center;
}

img{
    max-width: 90%;
    align-self: center;
}

.gamePage{
    align-items: center;
}

.homeMain{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.homeMain > section{
    background-color: rgb(70, 79, 88);
    border-radius: 15px;
    margin: 5px;
    margin-top: 30px;
}



.homeMain > section + section > p, .homeMain section + section > h2{
    margin-left: 10px;
}

.homeMain .flexContainer{
    align-items: center;
}

.complete{
    color: greenyellow;
}

select{
    max-width: 40%;
}

@media screen and (max-width: 600px){

    button{
        font-size: 10px;
    }
    
    select{
        max-width: 100%;
        width: 95%;
    }

    .homeMain{flex-direction: column;}

    .homeMain > section{
        width: 95%;
    }

    .randomButton{
        font-size: 24px;
        height: 28px;
    }
}

@media screen and (min-width: 601px) {
    .homeMain{
        justify-content: center;
    }

    .homeMain > section:has(+ section), .homeMain > section + section{
        height: 375px;
    }
}
