body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

a{
    height: 16px;
    margin-left: 20px;
}

p{
    margin-top: 30px;
    font-size: 20px;
    align-self: center;
}

select{
    background-color: rgb(47, 51, 55);
    color: white;
    transition: all .25s;
    height: 30px;
}

select:hover{
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameList{
    display: flex;
    align-items: center;
}

.gameList > *{
    margin: 8px 4px;
}

.randomButton{
    font-size: 24px;
    height: 28px;
}