*{
    box-sizing: border-box;
}

h1{
    font-size: 60px;
}

.mainSection a{
    font-size: 30px;
}

.mainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 95vh;

    padding-bottom: 20%;
}

a{
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    h1{
        font-size: 30px;
    }

    a{
        font-size: 20px;
    }
}