body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

main{
    align-items: center;
    width: 600px;
}

main > div{
    width: 600px;
    border: 1px solid white;
    border-radius: 3px;
}

.gameTile{
    align-items: center;
    justify-content: space-between;
    background-color: rgb(47, 51, 55);
    margin-bottom: 6px;

    transition: all .2s;
}

main:hover .gameTile{
    opacity: 85%;
}

main .gameTile:hover{
    opacity: 100%;
    background-color: rgb(71, 79, 87);
}

main img{
    height: 80px;
    min-width: 40px;
    max-width: 100px;
}

input[type="text"]{
    display: none;
}

input[type="submit"]{
    margin-right: 3px;
}

@media screen and (max-width: 600px){

    main{
        width: 100%;
    }

    main > div{
        min-width: 0px;
        width: 95%;
    }
}