*{
    font-family: 'Questrial', sans-serif;
    list-style: none;
}

.hidden{
    display: none;
}

.flexContainer{
    display: flex;
}

.column{
    flex-direction: column;
}

body{
    background-color: rgb(47, 51, 55);
    color: white;
}

a, button{
    color: white;
    background-color: rgb(47, 51, 55);
    border: 1px solid white;
    padding: 4px;
    border-radius: 2px;
    text-decoration: none;

    transition: all .25s;
}

button{
    height: 28px;
    cursor: pointer;
}

a:hover, button:hover{
    background-color: white;
    color: rgb(47, 51, 55);

    border: 1px solid rgb(246, 246, 246);
}

.holder a{
    color: white;
    text-decoration: none;
}

.credits{
    margin-top: 15px;
}

.credits a{
    color: aqua;
}

.buttonInput{
    transition: all .1s;
}

.buttonInput:hover{
    background-color: darkgray;
    color: white;
    
}

img{
    user-select: none;
}

input[type=submit]{
    background-color: rgb(47, 51, 55);
    color: white;
    border: 1px solid white;
    border-radius: 2px;

    padding: 5px;

    transition: all .25s;
}

input[type=submit]:hover{
    background-color: white;
    color: rgb(47, 51, 55);

    cursor: pointer;
}

input[type=text], input[type=email], input[type=password]{
    background-color: rgb(47, 51, 55);
    color: white;
    padding: 5px;

    transition: all .25s;
}

input[type=text]:hover, input[type=email]:hover, input[type=password]:hover{
    background-color: whitesmoke;
    color: rgb(47, 51, 55);
}

.logOutPrompt{
    align-self: flex-end;
    display: flex;
    align-items: center;
}

.logOutPrompt a{
    height: 16px;
    margin-left: 20px;
}

.logOutPrompt p{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
}

.credits a{
    border: none;
    margin: 0px;
}

.credits a:hover{
    color: rgb(47, 51, 55);
}