*{
    font-family: 'Questrial', sans-serif;
    list-style: none;
}

body{
    background-color: rgb(47, 51, 55);
    color: white;
}

a{
    color: white;
    border: 3px solid white;
    padding: 6px;
    border-radius: 10px;
    text-decoration: none;

    transition: all .25s;
}

a:hover{
    background-color: white;
    color: rgb(47, 51, 55);

    border: 3px solid rgb(246, 246, 246);
}

.holder a{
    color: white;
    text-decoration: none;
}

.credits{
    margin-top: 15px;
}

.credits a{
    color: aqua;
}

button{
    border-radius: 5px;
    border: none;
    height: 25px;
}

button, .buttonInput{
    transition: all .1s;
}

button:hover, .buttonInput:hover{
    background-color: darkgray;
    color: white;
    
}

img{
    user-select: none;
}